# logrotate settings for splunk logs

{{ splunk_logs_home }}/*.log {
	missingok
	daily
	dateext
	create 0640 root splunk
	compress
	rotate 1
	shred
	sharedscripts
	postrotate
		/bin/kill -HUP $(cat /var/run/syslogd.pid 2> /dev/null) 2> /dev/null || true
	endscript
}
