# monit.conf
# {{ ansible_managed }} 
# https://mmonit.com/monit/documentation/monit.html

###############################################################################
## Global section
###############################################################################

# run monit as a daemon and check services every {{ monit_check_interval }} seconds
# delay the first check by 30 seconds
set daemon {{ monit_check_interval }}
	with start delay 30

# log monit to a file
set logfile /var/log/monit.log

# the location of the monit pid file and id file
set pidfile /var/run/monit.pid
set idfile /var/run/.monit.id

# the location of the monit state file
set statefile /var/run/.monit.state

# ssl settings for outbound connections
set ssl options {
	version: auto
	selfsigned: allow
}

{% if enable_monit_notifications %} 
# mail server used for delivering alerts
set mailserver {{ monit_smtp_server }}
    port {{ monit_smtp_port|default(25) }}
{% if monit_smtp_username is defined %}
    username "{{ monit_smtp_username }}" password "{{ monit_stmp_password }}"
{% endif %}
{% if monit_smtp_ssl|default(False) %}
    using tlsv1
{% endif %}
    with timeout 30 seconds
}

# use the following template for emails
set mail-format {
    from: monit@$HOST
    subject: Monit Alert -- $SERVICE $EVENT 
    message: Service $SERVICE $EVENT 
Date:        $DATE
Host:        $HOST
Action:      $ACTION
Description: $DESCRIPTION

Sent by Monit
}

# queue messages that fail to be delivered
set eventqueue basedir /var/monit slots 100

# set receipients for monit alerts, but do not email about monit starting/stopping
set alert {{ monit_receipient }} not on { instance, action }
{% endif %}


###############################################################################
## Basic checks
###############################################################################

check network eth0 with interface eth0
    start program = "/sbin/service network start"
    stop program = "/sbin/service network stop"
    if failed link then restart

check process sshd with pidfile /var/run/sshd.pid
    start program = "/sbin/service sshd start"
    stop program = "/sbin/service sshd stop"
    if does not exist then restart

check process rsyslog with pidfile /var/run/syslogd.pid
    start program = "/sbin/service rsyslog start"
    stop program = "/sbin/service rsyslog stop"
    if does not exist then restart

check process auditd with pidfile /var/run/auditd.pid
    start program = "/sbin/service auditd start"
    stop program = "/sbin/service auditd stop"
    if does not exist then restart


###############################################################################
## Additional checks
###############################################################################

# include custom rules files from /etc/monit.d/
include /etc/monit/conf.d/*.conf
