# This file controls the configuration of the syslog plugin.
# It simply takes events and writes them to syslog. The
# arguments provided can be the default priority that you
# want the events written with. And optionally, you can give
# a second argument indicating the facility that you want events
# logged to. Valid options are LOG_LOCAL0 through 7.

active = yes
direction = out
path = builtin_syslog
type = builtin 
args = {{ auditd_log_level }} {{ auditd_log_facility }}
format = string
